.btn {
  border: none;
  font-size: 15px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover,
  &:active,
  &:disabled {
    filter: brightness(0.8);
  }
}

// variants
.btnPrimary {
  background-color: #2ba3f4;
  color: #fff;
}

// type
.btnRounded {
  border-radius: 69px;
}
